<% layout('/layouts/boilerPlate')%>

<div class="alert alert-danger col-6 offset-3" role="alert">
    <h4 style="color: red;" class="alert-heading"><%= err.message%>></h4>
    <p style="color: red;"><%= err.stack%></p>
</div>